<!doctype html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>

    <script src="one.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="one.css" type="text/css"/>

</head>
<body ng-controller="MyController">


<div class="container">

    <div class="row">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">

            <div class="page-header">
                <h1>One <small>Inges</small> </h1>
            </div>

            <div class="chat">

                <div class="yo">
                    <label for="nameInput">Usuario:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" ng-model="name" type="text" id="nameInput" placeholder="Escribe tu nombre">
                    </div>
                </div>

                <div class="platica">
                    <div id="example-messages" class="example-chat-messages">
                        <div ng-repeat="msg in messages">
                            <strong class="usuario">{{ msg.from }}:</strong><br/>
                            <div class="mensaje">{{ msg.body }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xs-8">
                        <div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-console"></i></span>
                                <input class="form-control" ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Mensaje :3">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <button id="sent" class="form-control btn btn-success" ng-click="addMessage()">Enviar</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>

</div>

<script src="scroll.js"></script>

</body>
</html>