body{
    padding: 0;
    margin: 0;
}

.platica{
     width: 100%;
     max-height: 200px;
     overflow-y: auto;
 }

.footer{
    position: fixed;
    bottom: 90%;
}

.usuario{
    padding: 3px;
    background: cornflowerblue;
    color: #fff;

    border-radius: 3px;
    padding-top: 5px;
}

.mensaje{
    padding: 3px;
    color: #000;

    border-radius: 3px;
    width: auto;

    padding-bottom: 25px;
}