body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100&;
}

.platica{
    width:100%;
    height:300px;
    background:#eee;
    overflow:hidden;
 }

.platica:hover{
    overflow-y: scroll;
}

.usuario{
    padding: 3px;
    background: cornflowerblue;
    color: #fff;

    border-radius: 3px;
    padding-top: 5px;
}

.mensaje{
    padding: 3px;
    color: #000;

    border-radius: 3px;
    width: auto;

    padding-bottom: 25px;
}


